* {
	margin: 0;
	padding: 0;
}

html {
	width: 100%;
}

body {
	margin: 0;
	padding: 1em;
	text-align: center;
}

h1 {
	text-align: center;
	font-variant: small-caps;
}

form {
	display: block;
	width: 100%;
	padding: 0;
	text-align: left;
}

fieldset {
	border: none;
	width: 100%;
	margin: 0;
	padding: 0;
}

input {
	height: 2em;
}

label, input {
	display: block;
}

input, textarea {
	margin-bottom: 1em;
	width: 94%;
	padding: 3%;
}

textarea {
	font-family: sans-serif;
	font-size: small;
}

fieldset.buttons {
	text-align: center;
}

label:has(+ *[required])::after {
	content: " *";
	color: red;
	vertical-align: super;
	font-size: smaller;
}

button {
	margin: 1ex;
	padding: 1em;
	border-width: thin;
	border-radius: 1ex;
	border-style: solid;
}

button[type="submit"] {
	background-color: lightgreen;
}

button[type="cancel"] {
	background-color: pink;
}
